
/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
   header {
    background: linear-gradient(90deg, rgb(74, 87, 173), rgb(2, 2, 97));
    color: white;
  }
  
  h1 {
    position: relative;
    font-size: 32px;
    padding: 20px 10px 10px;
    left: 50%;  
  }

  main {
    display: flex;
  }

  aside {
    flex-basis: 20%;
    /* flex-grow: 1; */
    padding: 10px;
    font-size: 16px;
  }

  h2 {
    font-size: 22px;
  }
  
  form {
    border-bottom: 1px solid black;
  }

  #search-input, #search-btn, #prior-searches li {
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
  }
  #prior-searches li {
    background: lightgray;
    text-align: center;
  }

  #search-btn {
    background:  rgb(80, 112, 255);
    color: white;
    border: 0px;
  }
  
  #weather {
    flex-basis: 75%;
    flex-grow: 1;
    padding: 10px;
  }
  
  #current {
    border: 1px solid black;
    padding: 10px;
    line-height: 1.75;
  }

  h3 {
    font-size: 24px;
    display: inline;
  }

  #weather-icon {
    display: inline;
    height: 50px;
    transform: translateY(35%);
  }
  
  .forecast {
    padding: 10px 0px;
  }

  h4 {
    font-size: 22px;
  }

  #card-container {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    background: rgb(33, 33, 47);
    color: white;  
    flex-basis: 18%;
    padding: 10px;
    line-height: 1.75;
    font-size: 12px;
  }

h5 {
  font-size: 20px;
}

.card img {
  height: 30px;
}

.hide {
  display: none;
}